    <div class="container">
      <div class="desktop-mode">
          <h2>Please open in desktop mode...</h2>
      </div>
      <h2 id="title">My Binary Watch</h2>
      <div class="watch">
          <div class="HH"><span id="Hour">H</span>:  
              <div class="B-HH">

              <label for="H32" id="HLable"><span style="font-size: 24px; font-weight: bold;">32</span><br>
                   <input type="radio" name="" id="H32" [checked]="HH.H32">
                  </label>

                  <label for="H16"><span style="font-size: 24px; font-weight: bold; ">16</span><br>
                      <input type="radio" name="" id="H16" [checked]="HH.H16">
                     </label>
                  
                  <label for="H8"><span style="font-size: 24px; font-weight: bold; ">8</span><br>
                      <input type="radio" name="" id="H8" [checked]="HH.H8">
                     </label>

                     <label for="H4"><span style="font-size: 24px; font-weight: bold; ">4</span><br>
                      <input type="radio" name="" id="H4" [checked]="HH.H4">
                     </label>

                     <label for="H2"><span style="font-size: 24px; font-weight: bold; ">2</span><br>
                      <input type="radio" name="" id="H2" [checked]="HH.H2">
                     </label>

                     <label for="H1"><span style="font-size: 24px; font-weight: bold; ">1</span><br>
                      <input type="radio" name="" id="H1" [checked]="HH.H1">
                     </label>
                  
              </div>
          </div>
          <div class="MM"><span id="Min">M</span>:
              <div class="B-MM">

                  <label for="M32" id="MLable"><span style="font-size: 24px; font-weight: bold;">32</span><br>
                      <input type="radio" name="" id="M32" [checked]="MM.M32">
                     </label>

                     <label for="M16" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">16</span><br>
                      <input type="radio" name="" id="M16" [checked]="MM.M16">
                     </label>

                     <label for="M8" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">8</span><br>
                      <input type="radio" name="" id="M8" [checked]="MM.M8">
                     </label>

                     <label for="M4" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">4</span><br>
                      <input type="radio" name="" id="M4" [checked]="MM.M4">
                     </label>

                     <label for="M2" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">2</span><br>
                      <input type="radio" name="" id="M2" [checked]="MM.M2">
                     </label>

                     <label for="M1" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">1</span><br>
                      <input type="radio" name="" id="M1" [checked]="MM.M1">
                     </label>

              </div>
          </div>
          <div class="SS"><span id="sec">S</span>:
              <div class="B-SS">

                  <label for="S32" id="SLable"><span style="font-size: 24px; font-weight: bold;">32</span><br>
                      <input type="radio" name="" id="S32" [checked]="SS.S32">
                     </label>

                     <label for="S16" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">16</span><br>
                      <input type="radio" name="" id="S16" [checked]="SS.S16">
                     </label>

                     <label for="S8" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">8</span><br>
                      <input type="radio" name="" id="S8" [checked]="SS.S8">
                     </label>

                     <label for="S4" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">4</span><br>
                      <input type="radio" name="" id="S4" [checked]="SS.S4">
                     </label>

                     <label for="S2" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">2</span><br>
                      <input type="radio" name="" id="S2" [checked]="SS.S2">
                     </label>

                     <label for="S1" style="margin-left: 60px;"><span style="font-size: 24px; font-weight: bold;">1</span><br>
                      <input type="radio" name="" id="S1" [checked]="SS.S1">
                     </label>

              </div>
          </div>
      </div>
  </div>